{
	"parser": "@babel/eslint-parser",
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"plugins": ["simple-import-sort"],
	"env": {
		"browser": true,
		"node": true,
		"jest": true,
		"es6": true
	},
	"rules": {
		"react/prop-types": "off",
		"react/react-in-jsx-scope": "off",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error"
	}
}
